###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.js text eol=lf
*.sh text eol=lf
